body {
    margin: 0%;
    padding: 0;
    background-color: #FFFDF8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

header{
    background: #5664FF;
    width: 100%;
}

header{
    content: '';
    display: table;
    clear: both;
}

.menu img{
    width: 50px;
    float: left;
    padding: 8px;
}

.menu{
    width: 80%;
    margin: 0 auto;
}

nav{
    float: right;
}

.main-nav{
    padding: 0%;
    margin: 0%;
    
}

.main-nav li{
    list-style-type: none;
    float: left;
    margin-top: 8px;
    margin-left: 75px;
    padding: 12px 0;
    position: relative;
}

.nav-link{
    color: #FFFDF8;
    text-decoration: none;
    font-weight: bold;
    
}

.nav-link::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #FFFDF8;
    top: 0%;
    position: absolute;
    opacity: 0;
    transition: 0.3s linear;
}

.nav-link:hover::before{
    opacity: 1;
}

.header-brand{
    margin-top: 70px;
    background-image: url(../img/header-brand.jpg);
    background-position: center;
    background-size: cover;
    height: 550px;
}

.header-brand h2{
    color: #FFFDF8;
    font-size: 100px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

.header-brand h1{
    color: #FFFDF8;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
}

#little-about-us{
    width: 90%;
    margin: 20px auto;
    height: 400px;
    background-color: #FFFDF8;
    display: flex;
    align-items: flex-start;
}

.little-about{
    width: 40%;
    margin-right: 10%;
}

.com-tour{
    width: 40%;
}

.about-title h2{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.about-title h2::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 0;
    height: 1em;
    width: 20%;
    text-align: center;
    border-bottom: 5px solid #65ECFF;
}

.little-about p{
    font-size: 20px;
}

.little-about button{
    font-size: 20px;
    background: transparent;
    border: 2px solid #635DE8;
    padding: 5px;
    color: #635DE8;
    border-radius: 10px;
}

.little-about button:hover{
    background: #635DE8;
    color: #FFFDF8;
    transition: 0.3s linear;
}

#services{
    width: 100%;
    height: 700px;
    background-image: url(../img/services-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.service-title h2{
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #FFFAF9;
    text-shadow: 2px 2px 2px #000;
}

.service-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item{
    max-width: 30%;
    text-align: center;
    padding: 10px;
    color: #FFFAF9;
    text-shadow: 2px 2px 2px #000;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s linear;
}

.service-image{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #FFFAF9;
    color: #FFFAF9;
    margin-top: 16px;
    margin-bottom: 30px;
    transform: rotate(45deg);
    transition: 0.3s linear;
}

.service-image i {
    transform: rotate(-45deg);
    line-height: 70px;
    font-size: 26px;
}

.service-item:hover .service-image{
    background: #FFFAF9;
    color: #638BFF;
    
}

.service-item:hover{
    background-color: #638BFF;
    transform: scale(1.1);
}

#footer-sm{
    width: 100%;
    height: 250px;
    background-color: #3C3C40;
    margin-top: -35px;
    
}

#footer-sm h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #FFFAF9;
    text-shadow: 2px 2px 2px #000;
    padding-bottom: 30px;
}

#footer-sm h2::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 0;
    height: 1em;
    width: 20%;
    text-align: center;
    border-bottom: 5px solid #FFFAF9;
}

.s-m a{
    padding: 20px;
    background-color: white;
    border-radius: 50%;
    margin: 0 6px;
}

.s-m a i {
    
    font-size: 24px;
    transition: 1s all;
}

.s-m a:hover{
    background-color: #000;
}

.s-m a:hover > i{
    transform: scale(1.6) rotate(360deg);
    color: white;
}

.s-m{
    margin-left: 35%;
    margin-bottom: 30px;
}

.footer-caption h4{
    color: #FFFAF9;
    text-align: center;
}

#contact-us{
    width: 90%;
    height: 500px;
    margin: 0 auto;
}

#contact-us h2{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #FFFAF9;
    text-shadow: 2px 2px 14px #000;
    padding-bottom: 30px;
}

#contact-us h2::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 40%;
    right: 0;
    height: 1em;
    width: 20%;
    text-align: center;
    border-bottom: 5px solid #5664FF;
}

.contact-form-section{
    width: 45%;
}

.contact-form-text{
    display: block;
    border: 1px solid #242740;
    background-color: #242740;
    border-radius: 20px;
    padding: 20px;
    outline: none;
    width: 100%;
    margin: 10px auto;
    color: white;
    transition: 0.5s all;
}

::placeholder{
    color: white;
}

.contact-form-text:focus{
    box-shadow: 0px 0px 20px #347F41;
}

.contact-form-text:nth-child(4){
    resize: none;
    height: 50px;
}

.contact-form-btn{
    padding: 10px 40px 10px;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #68C4E5;
    transition: 0.3s linear;
    float: left;
}

.contact-form-btn:hover{
    color: white;
    background-color: #68C4E5;
}

.contact-info-section{
    width: 45%;
}







